<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Usuario</servlet-name>
        <servlet-class>servlet.Usuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Listar</servlet-name>
        <servlet-class>servlet.Listar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UnidadMilitar</servlet-name>
        <servlet-class>servlet.UnidadMilitar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tipo</servlet-name>
        <servlet-class>servlet.Tipo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Personal</servlet-name>
        <servlet-class>servlet.Personal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sancion</servlet-name>
        <servlet-class>servlet.Sancion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Usuario</servlet-name>
        <url-pattern>/Usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Listar</servlet-name>
        <url-pattern>/Listar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UnidadMilitar</servlet-name>
        <url-pattern>/UnidadMilitar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tipo</servlet-name>
        <url-pattern>/Tipo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Personal</servlet-name>
        <url-pattern>/Personal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sancion</servlet-name>
        <url-pattern>/Sancion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
