<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AccesoNovedad</filter-name>
        <filter-class>Filtro.AccesoNovedad</filter-class>
    </filter>
    <filter>
        <filter-name>AccesoISVehiculos</filter-name>
        <filter-class>Filtro.AccesoISVehiculos</filter-class>
    </filter>
    <filter>
        <filter-name>AccesoDocumentos</filter-name>
        <filter-class>Filtro.AccesoDocumentos</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AccesoDocumentos</filter-name>
        <url-pattern>/Documentos/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AccesoISVehiculos</filter-name>
        <url-pattern>/ISVehiculos/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AccesoNovedad</filter-name>
        <url-pattern>/Novedades/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Usuario</servlet-name>
        <servlet-class>servlet.Usuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Listar</servlet-name>
        <servlet-class>servlet.Listar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UnidadMilitar</servlet-name>
        <servlet-class>servlet.UnidadMilitar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tipo</servlet-name>
        <servlet-class>servlet.Tipo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Personal</servlet-name>
        <servlet-class>servlet.Personal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sancion</servlet-name>
        <servlet-class>servlet.Sancion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Backup</servlet-name>
        <servlet-class>servlet.Backup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Documento</servlet-name>
        <servlet-class>servlet.Documento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Especialidades</servlet-name>
        <servlet-class>servlet.Especialidades</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Apoderado</servlet-name>
        <servlet-class>servlet.Apoderado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Familiar</servlet-name>
        <servlet-class>servlet.Familiar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaMedica</servlet-name>
        <servlet-class>servlet.ConsultaMedica</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Novedades</servlet-name>
        <servlet-class>servlet.Novedades</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Vehiculo</servlet-name>
        <servlet-class>servlet.Vehiculo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlertaVehiculo</servlet-name>
        <servlet-class>servlet.AlertaVehiculo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VehiculoObservacion</servlet-name>
        <servlet-class>servlet.VehiculoObservacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlertaMantenimiento</servlet-name>
        <servlet-class>servlet.AlertaMantenimiento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Municion</servlet-name>
        <servlet-class>servlet.Municion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ISArmamento</servlet-name>
        <servlet-class>servlet.ISArmamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObservacionArmamento</servlet-name>
        <servlet-class>servlet.ObservacionArmamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Armamento</servlet-name>
        <servlet-class>servlet.Armamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArmamentoLote</servlet-name>
        <servlet-class>servlet.ArmamentoLote</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArmamentoLoteMunicion</servlet-name>
        <servlet-class>servlet.ArmamentoLoteMunicion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Usuario</servlet-name>
        <url-pattern>/Usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Listar</servlet-name>
        <url-pattern>/Listar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UnidadMilitar</servlet-name>
        <url-pattern>/UnidadMilitar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tipo</servlet-name>
        <url-pattern>/Tipo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Personal</servlet-name>
        <url-pattern>/Personal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sancion</servlet-name>
        <url-pattern>/Sancion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Backup</servlet-name>
        <url-pattern>/Backup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Documento</servlet-name>
        <url-pattern>/Documento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Especialidades</servlet-name>
        <url-pattern>/Especialidades</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Apoderado</servlet-name>
        <url-pattern>/Apoderado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Familiar</servlet-name>
        <url-pattern>/Familiar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaMedica</servlet-name>
        <url-pattern>/ConsultaMedica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Novedades</servlet-name>
        <url-pattern>/Novedades</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Vehiculo</servlet-name>
        <url-pattern>/Vehiculo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlertaVehiculo</servlet-name>
        <url-pattern>/AlertaVehiculo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VehiculoObservacion</servlet-name>
        <url-pattern>/VehiculoObservacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlertaMantenimiento</servlet-name>
        <url-pattern>/AlertaMantenimiento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Municion</servlet-name>
        <url-pattern>/Municion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ISArmamento</servlet-name>
        <url-pattern>/ISArmamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObservacionArmamento</servlet-name>
        <url-pattern>/ObservacionArmamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Armamento</servlet-name>
        <url-pattern>/Armamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArmamentoLote</servlet-name>
        <url-pattern>/ArmamentoLote</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArmamentoLoteMunicion</servlet-name>
        <url-pattern>/ArmamentoLoteMunicion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
